:root {
    --body-bg-color: rgb(43,43,70);
    --text-color: white;
    --colorh1-color: rgb(215, 211, 211);
}
/*Aplicando variable creada en el root al body de nuestra web*/
/*Reemplazee el body con el uso de las variables css*/
body {
    background: var(--body-bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,h2 {
    color: var(--colorh1-color);
}

    /*Titulo del header*/
.titulo{
    display:flex;
    margin: 3rem;
}
/* Enlaces de la barra de navegacion configurados como si fueran botones
*/
.navigation{
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: flex-end;
    margin: 0 3rem;
    
}

.navigation li{
    font-size: 1rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #f0eaea1a;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

